* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1000px;
    margin: 0 auto;
    font-size: 14px;
}

.nav-top {
    height: 60px;
    /* border: 1px solid black; */
    background-color: pink;
}

.nav-logo {
    display: inline;
    float: left;
    text-align: center;
    padding-top: 8px;
    width: 90px;
    height: 48px;
    /* background-color: skyblue; */

}

.search-form {
    display: inline;
    float: left;
    margin-left: 100px;
    padding-top: 8px;
    width: 300px;
    height: 40px;
    /* background-color: skyblue; */
}

.search-form input {
    display: inline;
    float: left;
    width: 250px;
    height: 30px;
    margin-top: 8px;
    /* padding-top: 5px; */
}

.search-form button {
    display: inline;
    float:right;
    margin-top: 8px;
    height: 30px;
    /* padding-top: 5px; */
}

a {
    color: black;
    text-decoration: none;
}

.nav-right {
    display: inline;
    float: right;
    margin-top: 20px;
}

.nav-hello {
    display: inline;
    float: left;
    width: 20px;
    margin-right: 50px;
}

.sign-out-label {
    display: inline;
    float: right;
    /* margin-left: 50px; */
    margin-right: 50px;
}

.sign-in-label {
    display: inline;
    float: right;
    margin-right: 50px;
}

/* ----------signin css start---------- */
.sign-in-wrapper {
    width: 348px;
    height: 279px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.sign-in-wrapper-inner {
    padding: 20px 26px;
    width: 296px;
    height: 239px;
}

.login_form {
    width: 340px;
    height: 338px;
    margin: 20px auto;
    padding: 16px 20px;
    background-color: #fff;
    /* border: 1px solid hotpink; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
}

.login_title {
    height: 22px;
    margin: 0 0 28px;
    /* background-color: pink; */
}

h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: #353535;
}

.login_input {
    width: 340px;
    height: 46px;
    border: 1px solid #e7e7eb;
    overflow: hidden;
}

.login_input span {
    width: 323px;
    height: 42px;
    background: #ffffff;
    padding: 1px 0px 1px 15px;
}

.login_input input {
    width: 259px;
    height: 26px;
    padding: 8px 16px;
    margin: 0;
    outline: 0;
    font-size: 14px;
    border: none;
}

label img {
    position: relative;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;

}

.login_help {
    width: 340px;
    height: 22px;
    color: #7e8081;
    font-size: 14px;
    margin: 12px 0 0;
}

.checkbox_label {
    display: inline-block;
    /* margin: 0 14px 0 0; */
}

.icon_checkbox {
    float: left;
    /* display: inline-block; */
    width: 16px;
    height: 16px;
    margin: 1px 5px 0 0;

}

.login_help span {
    margin-left: 120px;
}

.login_help a {
    float: right;
    color: #7e8081;
    text-decoration: none;
}

.login_help a:hover {
    text-decoration: underline;
}

.btn_pannel {
    width: 340px;
    height: 35px;
    margin: 22px 0 4px;
}

.login_btn {
    width: 122px;
    height: 35px;
    color: #fff;
    background-color: #07C160;
    border: none;
    border-radius: 5px;
}

.login_btn:hover {
    background-color: #06b45a;
}

#display_pwd {
    background-color: rgb(255, 255, 255);
}

#clear {
    /* 隐藏元素 */
    display: none;
    background-color: #06b45a;
    border-radius: 10px;
}
/* ----------signin css end---------- */

/* ----------signup css start---------- */
.signup_form {
    width: 340px;
    height: 338px;
    margin: 20px auto;
    padding: 16px 20px;
    background-color: #fff;
    /* border: 1px solid hotpink; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
}

/* ----------signup css end---------- */

/* ----------calculator css start----------*/
.cal-wrapper {
    height: 500px;
    margin-top: 10px;
    border: 1px solid pink;
}

.tools-label {
    text-align: center;
    height: 25px;
    padding-top: 5px;
    background-color:skyblue;

}

.tools-label a {
    display: inline;
}

.tools-label h3 {
    display: inline;
}

.calculator {
    height: 400px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid black;
}

/* ----------calculator css end-----------*/

/* ---------games css start---------- */
.game-wrapper {
    height: 350px;
    margin-top: 10px;
    border: 1px solid pink;
}

.game-label {
    height: 25px;
    text-align: center;
    padding-top: 5px;
    background-color: skyblue;
}

.game-label a {
    display: inline;
}

.game-label h3 {
    display: inline;
}

.games {
    height: 300px;
    margin: 5px auto;
    border: 1px solid black;
}

.games-pic-wrapper {
    display:inline;
    float: left;
    height: 300px;
    width: 220px;
    border: 1px solid black;
    background: url('../img/magic.jpeg') no-repeat;
}

.guess-game-wrapper {
    display: inline;
    float: left;
    height: 300px;
    width: 270px;
    border: 1px solid black;
    margin-left: 5px;
}
.guess-game-wrapper h3 {
    text-align: center;
    margin-top: 10px;
}
.guess-game-wrapper a img:hover {
    filter: blur(3px);
}

.rsp-game-wrapper {
    display: inline;
    float: left;
    height: 300px;
    width: 384px;
    border: 1px solid black;
    margin-left: 50px;
}

.rsp-game-wrapper h3 {
    text-align: center;
    margin-top: 10px;
}

.rsp-game-wrapper a img:hover {
    filter: blur(3px);
}
/* ----------games css end---------- */

/* ----------index footer css start---------- */
.foot-wrapper {
    height: 60px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: pink;
}

/* ----------index footer css end----------*/


/* ----------guess game css start---------- */
.guess-form-wrapper {
    text-align: center;
    height: 500px;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.form-title {
    height: 100px;
    width: 500px;
    margin: 20px auto;

    /* background-color: skyblue; */
}
.form-title h2 {
    margin: 5px auto;
    border-bottom: 1px solid grey;
}

.game-description {
    color: grey;
    text-align: left;
}
.game-description h4 {
    color: grey;
}

.guess-input-area {
    margin: 30px auto;
}

.guess-input-area input {
    width: 398px;
    height: 25px;
}

.result-part {
    height: 50px;
    width: 400px;
    text-align: left;
    margin: 20px auto;
    /* border: 1px solid pink; */
}

.times-part {
    height: 50px;
    width: 400px;
    text-align: left;
    margin: 20px auto;
    /* border: 1px solid pink; */
}

.input-part {
    height: 50px;
    width: 400px;
    text-align: left;
    margin: 20px auto;
    /* border: 1px solid pink; */
}
.guess-button {
    margin: 20px;
    /* margin-left: 0px; */
    width: 180px;
    height: 25px;
}
.reset-button {
    margin: 20px;
    /* margin-right: 0px; */
    width: 180px;
    height: 25px;
}

.guess-footer {
    color: grey;
    text-align: center;
    margin: 20px auto;
}
/* ----------guess game css end--------- */

/* ----------rsp game css start--------- */
.rspgame-form-wrapper {
    text-align: center;
    height: 530px;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.rspgame-form-title {
    height: 100px;
    width: 500px;
    margin: 20px auto;

    /* background-color: skyblue; */
}
.rspgame-form-title h2 {
    margin: 5px auto;
    border-bottom: 1px solid grey;
}

.rspgame-description {
    color: grey;
    text-align: left;
}
.rspgame-description h4 {
    color: grey;
}

.rspgame-result-part {
    height: 50px;
    width: 400px;
    text-align: left;
    margin: 20px auto;
    /* border: 1px solid pink; */
}
.rspgame-result-part input {
    width: 398px;
    height: 25px;
}
.rspgame-times-part {
    height: 50px;
    width: 400px;
    text-align: left;
    margin: 20px auto;
    /* border: 1px solid pink; */
}
.rspgame-times-part input {
    width: 398px;
    height: 25px;
}
.rspgame-input-part {
    height: 60px;
    width: 400px;
    text-align: left;
    margin: 30px auto;
    border: 1px solid rgb(203, 203, 203);
}
.rspgame-input-part h3 {
    text-align: left;
}

.rspgame-radio-box {
    display: inline;
}

.rspgame-check-box {
    display: inline;
    float: left;
    height: 25px;
    margin: 5px 30px;
}

.rspgame-pk-button {
    margin: 20px;
    /* margin-left: 0px; */
    width: 180px;
    height: 25px;
}
/* ----------rsp game css end---------- */