* {
    margin: 0;
    padding: 0;
}

/* body {
    /* using relative path, relative to css file */
    /* background: url("../img/bd.jpg"); */
/* } */ 

.frame {
    text-align: center;
}

.computer {
    width: 300px;
    height: 350px;
    margin: 20px auto; 
    border: 1px solid black;
    border-radius: 5px;
    /* background-image: url("../img/magic.jpeg"); */
}

.input_show {
    margin-top: 35px;
    margin-bottom: 5px;
    width: 256px;
    max-width: 280px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
}

.btn_num {
    margin: 5px 1px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    font-size: 18px;
    /* background-color:darkorange */
}

.btn_num:hover {
    background-color:pink;
}

.clearplusequal {
    margin: 5px 1px;
}

.btn_clear {
    height: 30px;
    width: 126px;
    margin: 0px 1px;
    border-radius: 5px;
}
.btn_clear:hover {
    background-color:pink;
}
.btn_compute {
    width: 126px;
    height: 30px;
    font-size: 18px;
    margin: 0px 1px;
    border-radius: 5px;
}
.btn_compute:hover {
    background-color:pink;
}
.btn_histroy {
    margin: 20px 1px;
    height: 30px;
    width: 126px;
}

.numbers {
    margin: 6px 1px;
}

