<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSP Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/calc_app/base.css' %}" />
    <link rel="shortcut icon" href="{% static '/img/logo.ico' %}" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- header start -->
    <div class="nav-top w">
        <div class="nav-logo">
            <a class="nav-logo-icon" href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" alt="" width="40" height="24" class="">
            </a>
            <span class="nav-logo-label">
                <a href="{% url 'index' %}">Tools&Games</a>
            </span>

        </div>

        <div class="search-form">
            <form class="" action="https://Google.com/search" method="GET" target="_blank">
                <input class="" type="search" placeholder="Google Search ..." aria-label="Search" name="q">
                <button class="" type="submit" name="btnK">Search</button>
            </form>
        </div>

        <div class="nav-right">
            {% if request.user.username != '' %}
            <span class="nav-hello">
                Hello, {{ request.user.username }}!
            </span>

            <span class="sign-out-label">
                <a href="{% url 'signout' %}" id="signout">Sign Out</a>
            </span>
            {% else %}
            <span class="sign-in-label">
                <a href="{% url 'signin' %}">Sign In</a>
            </span>
            {% endif %}
        </div>
    </div>
    <!-- header end -->

    <div class="rspgame-form-wrapper w">
        <div class="rspgame-form-title">
            <h2>RSP Game</h2>
            <div class="rspgame-description">
                <h4>How to play?</h4>
                <p>Choose your best offer from Rock, Scissor, Paper and beat the computer!</p>
            </div>
        </div>

        <div>
            <form class="rspgame-input-area w">

                <div class="rspgame-result-part">
                    <h3>Result:</h3>
                    <input type="text" id="pk_result" disabled />
                </div>

                <div class="rspgame-times-part">
                    <h3>Times you played:</h3>
                    <input type="number" id="pk_times" value="0" disabled />
                </div>

                <div class="rspgame-times-part">
                    <h3>Times you won:</h3>
                    <input type="number" id="won_times" value="0" disabled />
                </div>

                <div class="rspgame-input-part">
                    <h3>Choose your best offer:</h3>
                    <div class="rspgame-radio-box">
                        <div class="rspgame-check-box">
                            <input type="radio" name="user-offer" value="rock" id="rock" />
                            <label for="rock">Rock</label>
                        </div>
                        <div class="rspgame-check-box">
                            <input type="radio" name="user-offer" value="scissor" id="scissor" />
                            <label for="scissor">Scissor</label>
                        </div>
                        <div class="rspgame-check-box">
                            <input type="radio" name="user-offer" value="paper" id="paper" />
                            <label for="paper">Paper</label>
                        </div>
                    </div>
                </div>

                <div>
                    <!-- attention: if set type=submit, then the return of ajax will refresh the whole page! -->
                    <button class="rspgame-pk-button" type="button" id="pk" onclick="fun_pk()">PK</button>
                    <button class="reset-button" type="button" onclick="fun_reset()">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="guess-footer w">
        <h4>Copyright @2021</h4>
    </footer>

    <script>
        var res = document.getElementById('pk_result');
        var pk_times = document.getElementById('pk_times');
        var won_times = document.getElementById('won_times');
        var pk = 0;
        var won = 0;

        function fun_pk() {
            var robj = document.getElementsByName("user-offer");
            var user_offer = 'None';

            pk += 1;
            for (var i = 0; i < robj.length; i++) {
                if (robj[i].checked) {
                    user_offer = robj[i].value;
                    break;
                }
            }

            if (user_offer == 'None') {
                alert("Please Choose your best offer!")
            }

            var random_num = Math.floor(Math.random() * 3);
            console.log(random_num);
            var computer_offer = ['rock', 'scissor', 'paper'];
            //rock>scissor, scissor>paper, paper>rock
            if ((user_offer == 'rock' && computer_offer[random_num] == 'scissor') || (user_offer == 'scissor' && computer_offer[random_num] == 'paper') || (user_offer == 'paper' && computer_offer[random_num] == 'rock')) {
                won += 1;
                res.value = 'Congrats, You won!'
            }
            else {
                res.value = 'Sorry, You lose!'
            }

            pk_times.value = pk;
            won_times.value = won;
        }

        function fun_reset() {
            var robj = document.getElementsByName("user-offer");

            for (var i = 0; i < robj.length; i++) {
                if (robj[i].checked) {
                    robj[i].checked = false;
                    break;
                }
            }

            res.value = '';
            pk_times.value = '0';
            pk = 0;
            won_times.value = '0';
            won = 0;
        }

    </script>

</body>

</html>