<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Page</title>
</head>
<body>
    <div>
        <span class="header-left">Home</span>
        <span class="header-righ"></span>
    </div>

    <div class="form-wrapper">
        <div class="form-title">
            <h2>Guess Game</h2>
            <div class="game-description">
                <h4>How to play?</h4>
                <p>To guess by inputting a number between 1-100, see how many times you can guess the number created randomly by computer.</p>
            </div>
            <form class="input-area" action="guess/" method="POST">
                <span>Input a number(1-100):</span>
                <div>
                    <input type="text" name="guess_number" />
                </div>

                <span>Result:</span>
                <div>
                    <input type="text" name="guess_result" disabled/>
                </div>

                <span>Times you guessed:</span>
                <div>
                    <input type="number" name="guess_times" placeholder="0" disabled/>
                </div>

                <div>
                    <input type="submit" />
                    <button type="button">Records</button>  
                </div>
            </form>
        </div>
    </div>

</body>
</html>